#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if boss__dnsmasq__host_domain is defined and boss__dnsmasq__host_domain -%}
domain {{ boss__dnsmasq__host_domain }}
{% endif -%}
{% if boss__dnsmasq__host_search is defined and boss__dnsmasq__host_search -%}
search {{ boss__dnsmasq__host_search }}
{% endif -%}
{% for ns in boss__dnsmasq__host_resolvers -%}
nameserver {{ ns }}
{% endfor %}
